<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="header">

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container">
            <div class="header-container d-flex align-items-center justify-content-between">
                <div class="logo">
                    <h1 class="text-light"><a th:href="@{/}"><span>Travel Service</span></a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto " th:href="@{/}">Accueil</a></li>
                        <li><a class="nav-link scrollto" th:href="@{/voyages}">Voyages</a></li>
                        <li><a class="nav-link scrollto" th:href="@{/reservation}">Reservation</a></li>
                        <li><a class="nav-link scrollto" th:href="@{/contact}">Contact</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

            </div><!-- End Header Container -->
        </div>
    </header><!-- End Header -->


</th:block>

</html>