<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="js">

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script th:src="@{/assets/vendor/purecounter/purecounter.js}"></script>
    <script th:src="@{/assets/vendor/aos/aos.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
    <script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
    <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{assets/js/main.js}"></script>


</th:block>

</html>